# Dependencies
**/node_modules/

# Production
/build/

# Logs
/yarn-debug.log*
/yarn-error.log*

# Editors
/.vscode/
/.idea/*

# Misc
/.DS_Store
logs

# Database
mongo-volume

# Env
.env*
!.env.example*
!/services/python-client/.env

# Python
**/venv/
__pycache__
.pytest_cache