body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas1 {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0%;
    width: 50vh;
    height: 50%;
    /*background: radial-gradient(#ffc38c, #ff0940);*/
}

.progress {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    top: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10000;
    margin-left: 10vh;
    margin-top: 12vh;
}
.progress i {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: rotate(calc(45deg + calc(calc(360deg / var(--tlt-br-cnt)) * var(--i))));
}
.progress i::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: hsla(0, 0%,100%, 12%);;
    width: 5px;
    height: 20px;
    border-radius: 999rem;
    transform: rotate(-45deg);
    transform-origin: top;
    opacity: 0;
    animation: barCreationAnimation 100ms ease forwards;
    animation-delay: calc(var(--i) * 15ms);
}
.progress .selected-demo::after {
    background: hsl(130, 100%, 50%);
    box-shadow: 0 0 1px hsl(130, 100%, 50%),
                0 0 3px hsl(130, 100%, 30%),
                0 0 4px hsl(130, 100%, 10%);
}
  
.percent-text {
    font-size: 3rem;
    animation: barCreationAnimation 500ms ease forwards;
    animation-delay: calc(var(--tlt-br-cnt) * 15ms / 2);
}
.text-demo{
    color: hsl(130, 100%, 50%);
    text-shadow: 0 0 1px hsl(130, 100%, 50%),
                    0 0 3px hsl(130, 100%, 30%),
                    0 0 4px hsl(130, 100%, 10%);
    opacity: 0;
}

* {
box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
    background-color: white;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    background-color: white;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.column {
    width: 100%;
    background-color: white;
}
}




.mkc_circle { animation: mck_progress 1000ms ease-in-out; }
@keyframes mck_progress { 0% { stroke-dasharray: 0, 100; }}

/* Layout styles only, not needed for functionality */
.grid {
    display: grid;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 31em) {
    .grid { grid-template-columns: repeat(4, 1fr);}
}